{% extends 'CodeCrewSiteApp/base.html' %}
{% load static %}
{% block header %}
About Us
{% endblock %}

{% block sidebar %}
<article>

    Donate Now & Make Computer Science Education Accessible to More Students and Schools
    Making a donation means we are able to mentor more kids in computer science, equip them with 21st century tech
    skills, and prepare them for futures in the tech industry.

</article>
{% endblock sidebar %}

{% block content %}
<p>OUR PROGRAMS

    Our programs expose students to producing technology and provide them in-depth training that keeps them interested and engaged across a continuum of subjects and grade levels. The subjects include mobile app development, web app development, game development, robotics, and drone programming, all while teaching fundamental computer science concepts that apply long term to all levels of the field.
    ​
    IN-SCHOOL ELECTIVES - We offer in-school classes at several locations in Memphis where students learn coding during the school day, 4-5 days per week, as part of their class schedules. Currently, these courses include web development, JavaScript and Python. These skills can positively impact subjects outside of computer science and pique interest in technology among involved students.
    ​
    AFTER SCHOOL + WEEKEND PROGRAMS - During the school year, CodeCrew teaches kids to use Scratch, build Android apps, practice JavaScript coding and learn Unity game development. These programs meet weekly.  Kids show off their acquired skills in our December and May Hour of Code events.

    ​

    SUMMER PROGRAMS - During the summer, CodeCrew offers a number of six-week summer camps teaching kids to build mobile apps, as well as AP computer science concepts using Java and Python. Kids showcase what they have learned at the end of the summer during our annual hackathon.

    ​

    APP PUBLISHING PROGRAM - CodeCrew assists students who have shown leadership and innovation in app development within the CodeCrew programs by partnering them with tech expert mentors who guide them to getting their app published onto the App Store and Google Play.

    ​

    INTERNSHIP PROGRAM - CodeCrew provides internship opportunities to youth who have shown leadership and innovation within our tech education programs. We partner with tech companies, such as Preteckt, to offer our most advanced students opportunities to work and gain real-world experience in computer science and tech.

    ​

    CODE SCHOOL - Our Code School is a hands-on class designed to train adults to be entry-level software developers within a six-month course. Students work in a small classroom setting and use real-word technologies to learn the fundamentals of coding, app development, the leadership, and the life skills needed for a successful career and job market competitiveness.

</p>
{% endblock %}

{% block footer %}
88 Union Avenue, 2nd Floor, Memphis, TN 38103  |  901-229-1720  | team@code-crew.org  |  #GritGrindCode
{% endblock %}