{% extends 'CodeCrewSiteApp/base.html' %}
{% load static %}
{% block header %}
Gallery
{% endblock %}

{% block sidebar %}
<article>

    Donate Now & Make Computer Science Education Accessible to More Students and Schools
    Making a donation means we are able to mentor more kids in computer science, equip them with 21st century tech
    skills, and prepare them for futures in the tech industry.

</article>
{% endblock sidebar %}

{% block content %}
<img src="../../static/CodeCrewSiteApp/images/clock.jpeg" height="168" width="300"/>
<img src="../../static/CodeCrewSiteApp/images/pig.jpeg" height="159" width="318"/>
<img src="../../static/CodeCrewSiteApp/images/tree.jpeg" height="275" width="183"/>
{% endblock %}

{% block footer %}
<img src="../../static/CodeCrewSiteApp/images/images.jpeg" height="183" width="275"/>
{% endblock %}