{% extends 'CodeCrewSiteApp/base.html' %}
{% load static %}
{% block header %}
Home
{% endblock %}

{% block sidebar %}
<article>

    Donate Now & Make Computer Science Education Accessible to More Students and Schools
    Making a donation means we are able to mentor more kids in computer science, equip them with 21st century tech
    skills, and prepare them for futures in the tech industry.

</article>
{% endblock sidebar %}

{% block content %}
Discover Our After School Programs
& Get Registered Today
Our programs expose students to producing technology and provide them in-depth training that keeps them interested and engaged across a continuum of subjects and grade levels.


{% endblock %}

{% block footer %}
Read The Latest News + Articles


{% endblock %}