{% extends 'CodeCrewSiteApp/base.html' %}
{% load static %}
{% block header %}
Resources
{% endblock %}

{% block sidebar %}
<article>

    Donate Now & Make Computer Science Education Accessible to More Students and Schools
    Making a donation means we are able to mentor more kids in computer science, equip them with 21st century tech
    skills, and prepare them for futures in the tech industry.

</article>
{% endblock sidebar %}
{% block content %}
We serve as a resource for parents, educators, and other organizations looking to address the digital skills gap, and raising awareness about the importance of diversity in tech and the role of computer science education in lifting prosperity in Memphis.

​

CodeCrew is passionate about students and the community alike to have access to quality computer science and tech education.  As advocates raising awareness of the importance of computer science education, we whole heartedly support other initiatives in Memphis engaged in this work.

​

Below you will find a diverse number of resources across Memphis and beyond.


{% endblock %}

{% block footer %}
Stuff
{% endblock %}